@model SAT.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}

<div style="text-align: center">
    <h2 style="color: darkblue">EmailConfirmation</h2>
    <div style="color:white">
        <p>Thank you for sending Us a message. Someone will be in contact with You shortly.</p>

        @*<p>@Model.Message</p>*@
    </div>
</div>

